<!--<div>-->
<!--    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">-->
<!--    © 2020 Copyright:-->
<!--    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
<!--  </div>-->
<!--    <p class="text-center bg-light text-center text-lg-start">&copy; MyShop tech pvt ltd.All rights are Reserved</p>-->
<!--</div>-->

<footer class="bg-light text-center text-lg-start custom_footer">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    &copy; MyShop tech pvt ltd.All rights are Reserved

  </div>
  <!-- Copyright -->
</footer>